.nav-bar-link{
    color: black;
    text-decoration: none;
}

.nav-bar-link:hover{color: rgb(247, 5, 5);
  text-decoration: none;
  font-size: 17px;
  transition: all 0.1s ease;
}

.navbarclass{
    background-color: rgb(7, 226, 250);
    opacity: 10px;
}
.navbarclass.active{
    color: rgb(252, 4, 4);
}
.table{
    margin-bottom: 1px;
    
}