.login {
  background: linear-gradient(
    to bottom right,
    rgb(21, 155, 208),
    rgb(244, 38, 72)
  );
  padding: 1.5%;
  margin: 32%;
  margin-top: 0%;
  margin-bottom: 7.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(11, 11, 11);
  border-radius: 25px;
  text-align: center;
}

#sign {
  background: linear-gradient(
    to bottom right,
    rgb(89, 131, 238),
    rgb(247, 39, 39)
  );
  margin-top: 1%;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 0%;
}
.errorClass {
  color: rgb(0, 255, 8);
  font-weight: 500px;
}
.root {
  background-image: url("123.jpg");
  padding: 4.5%;
  margin: 0%;
}

.signroot {
  background-image: url("123.jpg");
  padding: 15.5%;
  margin: 0%;
  padding-top: 3.5%;
  text-align: center;
}
